<body>
<h2 style="position: relative; left: 70%; top: 0%">Wanna Save Time?</h2>
<h2 style="position: relative; left: 71%; top: 0%">Make An Account!</h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div style="position: relative; left: 70%"><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div style="position: relative; left: 70%"><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div style="position: relative; left: 70%"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div style="position: relative; left: 70%">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div style="position: relative; left: 70%"><%= f.submit "Sign up!" %></div>
<% end %>
</body>