<table>
	<tr>
		<td>Deal</td>
		<td>Price</td>
		<td>User</td>
	</tr>

<% @deals_high.each do |deal| %>
	<tr>
		<td class="high"><%= deal.Object_Name %></td>
		<td><%= deal.price %></td>
		<td><%= deal.User.name %></td>
		<td><%= link_to "show deal", deal_path(deal.id) %></td>
		<td><%= link_to "edit deal", edit_deal_path(deal.id) %></td>
		<td><%= link_to "delete deal", deal, confirm: "You are about to delete this deal. Are you sure you want to do this?", method: :delete %></td>
	</tr>
<% end %>

<% @deals_med.each do |deal| %>
	<tr>
		<td class="med"><%= deal.Object_Name %></td>
		<td><%= deal.price %></td>
		<td><%= deal.User.name %></td>
		<td><%= link_to "show deal", deal_path(deal.id) %></td>
		<td><%= link_to "edit deal", edit_deal_path(deal.id) %></td>
		<td><%= link_to "delete deal", deal, confirm: "You are about to delete this deal. Are you sure you want to do this?", method: :delete %></td>
	</tr>
<% end %>

<% @deals_low.each do |deal| %>
	<tr>
		<td class="low"><%= deal.Object_Name %></td>
		<td><%= deal.price %></td>
		<td><%= deal.User.name %></td>
		<td><%= link_to "show deal", deal_path(deal.id) %></td>
		<td><%= link_to "edit deal", edit_deal_path(deal.id) %></td>
		<td><%= link_to "delete deal", deal, confirm: "You are about to delete this deal. Are you sure you want to do this?", method: :delete %></td>
	</tr>
<% end %>
</table>